/* @import url('https://fonts.googleapis.com/css?family=Bubbler+One|Dosis|Imprima|Pacifico|Poiret+One|Raleway|Snippet|Text+Me+One'); */
/*  
@import url(https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap);
 *{
  box-sizing:border-box;
  margin:0;
  padding:0;
  transition:all .4s ease;
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
} 
html{
  scroll-behavior:smooth
} */
 /* body{
  color:#fff;background:url(https://www.toptal.com/designers/subtlepatterns/patterns/darkness.png) fixed,fixed #141414
} */
 /* a{
  text-decoration:none
}   */
/* 

.repo{
  background-image: url(./assets/repo2.jpg)
} 
 .user{
  background-image: url(./assets/repo.jpeg);
  background-repeat: no-repeat;
  height: 1000px;
}   */

#Home{
  color:#fff;background:url(https://www.toptal.com/designers/subtlepatterns/patterns/darkness.png) fixed,fixed #141414;
}
.search{
  text-align: center;
  
}